<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="mkl:Threads" value="1" />
    <add key="mkl:Path" value="C:\data\dlls\mkl" />
  </appSettings>
<runtime>
  <gcAllowVeryLargeObjects value="true" />
</runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" /></startup></configuration>
